body {
	max-width: 1600px;
	min-height: 800px;
	background: url('../images/background2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(105, 105, 105)
}
 * {
	margin: 0;
	padding: 0;
 }